* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #41353b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.card-tag {
  background-color: #86c5c5;
  padding: 5px 10px;
  color: #ee0b56;
  border-radius: 2px;
}
.card-header {
  padding: 30px 50px;
  text-align: center;
}
.card-header img {
  max-height: 200px;
  border-radius: 2px;
}
.product-title {
  font-size: 24px;
  line-height: 1;
  color: #353535;
}
.product-status {
  color: #808080;
}
.product-price {
  font-size: 30px;
  color: #353535;
  margin: 20px 0;
}
.card-footer {
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 10px 40px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.btn-primary {
  color: #fff;
  background-color: #b34bf8;
}
.btn-secondary {
  color: #808080;
}
.card-footer .btn:first-child {
  margin-right: 15px;
}
